img {
  display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}

textarea {
  resize: none;
}

.text-center {
  text-align: center;
}

.p-2 {
  padding: 20px;
}

.pb-1 {
  padding-bottom: 10px;
}

.pt-3 {
  padding-top: 30px;
}

.mb-2 {
  margin-bottom: 20px;
  min-height: 44px;
  min-width: 44px;
}

a {
  text-decoration: none;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  color: white;
  z-index: 100;
  background-color: rgb(9, 145, 97);
}

.skip-link:focus {
  top: 60px;
}

header {
  margin-top: 44px;
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  background-color: #c8a00d;
  color: white;
  z-index: 100;
  font-size: 1.5em;
  font-weight: 600;
}

nav .nav-title {
  margin-left: 10px;
}

.drawer {
  position: static;
}

.apps {
  color: black;
  font-weight: bold;
}


#menu {
  display: none;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 22px;
}

.nav-items {
  list-style: none;
}


nav a {
  padding: 14px;
  margin-right: 6px;
  margin-left: 6px;
  color: white;
  text-decoration: none;
}

nav .nav-items a {
  font-size: .7em;
  position: relative;
}

nav .nav-items a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  left: 0;
  bottom: 0;
  background-color: white;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

nav .nav-items a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.hero {
  background-image: url('../public/images/heros/hero-image_4-large.jpg');
  background-position: center;
  background-size: cover;
  isolation: isolate;
  color: white;
  height: 380px;
  position: relative;

}

.hero .hero-inner {
  width: 100%;
  margin-top: 60px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.hero::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  z-index: -1;
}


.hero p {
  font-size: 1.5em;
}

.hero h1 {
  font-size: 2.7em;
  margin-bottom: 20px;
}

.hero #search-bar {
  margin: 40px auto;
  max-width: 430px;
  position: relative;
}

.hero #search-bar input {
  width: 100%;
  height: 40px;
  font-size: 1em;
  padding: 20px 15px 20px 40px;
  border-radius: 20px;
}

.hero span {
  position: absolute;
  left: 10px;
  top: 10px;
}

#error-page {
  margin: 40px 0;
}

button.refresh {
  display: block;
  padding: 14px;
  margin: 20px auto;
  color: black;
  border: none;
  border-radius: 5px;
  background-color: #c8a00d;
}

button.refresh:hover {
  cursor: pointer;
  background-color: #c8a00d;
}

#content {
  display: grid;
}

#content-detail {
  margin: auto;
  column-gap: 20px;
  max-width: 800px;
}

#content-detail p {
  font-size: .9em;
}

#content-detail .wrapper-information img {
  width: 100%;
}

.information {
  padding: 10px;
}

.information p {
  margin-bottom: 10px;
}

.menus {
  margin: 20px 0;
  border: 1px solid #c8a00d;
}

.menus h4 {
  background-color: #c8a00d;
  color: white;
}

.menus p {
  padding: 10px;
  margin: 0 15px;
  border-bottom: 1px solid #eaeaea;
}

article {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}

article img {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

article .description {
  margin: 16px 32px 32px;
}

article .city {
  position: absolute;
  top: 10px;
  padding: 5px 15px;
  font-weight: bold;
  color: black;
  border: solid;
  border-color: black;
  border-radius: 2px;
  border-bottom-right-radius: 15px;
  background-color: #c8a00d;
}

article .description p {
  font-size: 16px;
}

article .description .rating {
  font-size: 18px;
  color: #c1380a;
}

article .description a {
  display: inline-block;
  color: rgb(9, 145, 97);
  text-shadow: 1px 1px 1px rgb(143, 134, 134);
  font-weight: 600;
  font-size: 1.2em;
  padding: 12px 0;
  cursor: pointer;
}

article .description .text {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

article .description .text p.hide {
  position: absolute;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article .description .text button {
  font-size: 14px;
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

#customer-reviews {
  display: grid;
  column-gap: 15px;
  grid-template-columns: 20px 1fr;
}

#customer-reviews img {
  width: 100%;
  border-radius: 50%;
}

#customer-reviews p:first-child {
  font-size: .8em;
  margin-bottom: 5px;
}

#customer-reviews p:last-child {
  font-size: .7em;
  color: #999;
}

.review-wrapper form {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.review-wrapper form input,
textarea {
  padding: 10px 5px;
}

.review-wrapper form button {
  width: 100px;
  padding: 14px;
  border: none;
  border-radius: 4px;
  color: black;
  background-color: #c8a00d;
}

.review-wrapper form button:hover {
  background-color: #a25c06;
  cursor: pointer;
}

.like {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db0000;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 50%;
  border: 0;
  font-size: 18px;
  color: white;
  cursor: pointer;
}

section {
  margin: 0 32px;
  display: grid;
  justify-content: center;
}

section h2 {
  margin: 22px 0;
  color: rgb(9, 145, 97);
  /*text-shadow: 3px 3px 2px black;*/
  font-size: 1.5em;
}

.shadow {
  text-shadow: 1px 1px 1px rgb(50, 47, 47);
}

footer {
  background-color: #c8a00d;
  color: white;
}

footer .footer-wrapper {
  display: grid;
  column-gap: 20px;
  row-gap: 20px;
  padding: 20px;
}

footer h3 {
  color: white;
  font-size: 1em;
}

footer h4 {
  font-size: .9em;
  color: rgb(9, 145, 97);
}

footer p {
  font-size: .8em;
}

footer li {
  list-style: none;
}

footer .page-navigation a {
  display: inline;
  color: rgb(9, 145, 97);
  font-size: .8em;
  padding: 16px;
  color: rgb(9, 145, 97);

}

footer .page-navigation a:first-child {
  padding-right: 6px;
}

footer .page-navigation a:hover {
  text-decoration: underline;
}

footer .follow-me a {
  color: black;
  margin-right: 5px;
  font-size: 3.5em;
}

footer .follow-me a:hover {
  color: black;
}